  body{
    font-family: 'Futura-Bold', arial;
    margin: 0;
  }
  #logo{
    float: left;
    width:  55px;
    height: 70px;
    margin-top: -4px;
    margin-left: 40px;  
  }
  #contact{
    margin-top: 25px;
    margin-left: 312px;
    width: 150px;
    height: 45px;
    padding: 0 auto;
    font-size: 12px;
  }
  p{
    line-height:0.3em;
  }
  li{
    list-style: none;
  }
  h2{
    font-size: 14px ;
  }
  
  a {
    display: inline-block;
    color:black;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
  }


  .copyr {
    float: right;
    margin-top:  150px;
    margin-right: 4%;
     
  }
  .responsive {
  max-width: 100%;
  height: auto;
}
.info {
	display: grid;
	grid-template-columns: 200px 1fr ;
	grid-auto-rows: minmax(60px, auto);
	grid-gap: 30px;
	margin-left: 40px;
	margin-top: 61px;

}

.info2 {
	display: grid;
	grid-template-columns: 200px 200px 1fr ;
	grid-auto-rows: minmax(60px, auto);
	grid-gap: 30px;
	margin-left: 40px;
	margin-top: 67px;
}


#education {
	margin-top: 60px;
	margin-left: 40px;
  font-size: 20px;
}
.name {
	font-size: 30px;
	margin-top: 49px;
	margin-left: 40px;
}
.naming {
	font-size: 25px;
	margin-top: 59px;
	margin-left: 40px;
}
.Copyright {
	margin-left: 40px;
	margin-top: 42px;
}

@media only screen and (max-width:640px) {
	.info {
    column-gap: 30px;
    grid-template-columns: 100px 1fr;
	}
	.info2 {
		grid-template-columns: 100px 120px 1fr ;
		column-gap: 30px;
	}
	
}
@media only screen and (max-width:470px) {
	#contact{
    margin-top: 27px;
    margin-left: 242px;
  }
  .info {
    font-size: 12px;
  }
  .info2 {
    font-size: 12px;
  }
  .name {
    font-size: 18px;
  }
  .naming {
    font-size: 15px;
  }
  #education {
    font-size: 15px;
  }

}
@media only screen and (max-width:425px){
  #contact{
    margin-left: 182px;
  }

  .info2 {
    grid-template-columns: 80px 100px 1fr;
		
	}
	.info {
    grid-template-columns: 100px 1fr;
    grid-gap: 17px;
  }
 
}
@media only screen and (max-width:380px) {
 
 .info12 {
   margin-top: 300px;
   margin-left: -123px;
   width: 100px;
 }
 .info10 {
   margin-top: -250px;
   margin-left: 5px;
 }
 .info11 {
  margin-left: 5px;
}
.info14 {
  margin-top: -250px;
}
}

