body{
    font-family: 'Futura-Bold', arial;
    margin: 0;
  }
  #logo{
    float: left;
    width:  55px;
    height: 70px;
    margin-top: -4px;
    margin-left: 40px;  
  }
  #contact{
    margin-top: 25px;
    margin-left: 312px;
    width: 150px;
    height: 45px;
    padding: 0 auto;
    font-size: 12px;
  }
  P{
    line-height:0.3em;
  }
  li{
    list-style: none;
  }
  h2{
    font-size: 14px ;
  }
  
  a {
    display: inline-block;
    color:black;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
  } 
  .menu{
    width: 476px;
    height: 30px;
    margin-top: 57px;
    margin-left: 40px;
  }
  .li1{
    display: inline-block;
    color: black;
    position: relative;
    margin-left: -40px;
    font-size: 29px;
    
  }
  .li2{
    display: inline-block;
    color: black;
    position: relative;
    margin-left: 0px;
    
  }

  .container {
    width: 93%;
    display: grid;
    grid-auto-flow: dense;
    grid-template:  "1fr 1fr 1fr 1fr 1fr 1fr" 39.33vh
                    "1fr 1fr 1fr 1fr 1fr 1fr" 39.33vh ;
    column-gap: 17px;
    row-gap: 13px;
    margin-top: 20px;
    margin-left: 40px;
  }

.container .box {
  position: relative;
}
.container .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s; 
}

  .container .box.a {
    grid-column: span 3;
  }  
  .container .box.b {
    grid-column: span 2;
  } 
  .container .box.d {
    grid-column: span 2;
  }
  .container .box.f {
    grid-column: span 2;
  }
  .copyr {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
  } 

  @media only screen and (max-width:991px)
  {
    .container {
  
        grid-template:  "1fr 1fr 1fr 1fr" 200px
                        "1fr 1fr 1fr 1fr" 200px
                        "1fr 1fr 1fr 1fr" 200px ;
  
    }  
     
  }

  @media only screen and (max-width:768px)
  {
    .container {
  
        grid-template:  "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px ;
  
    }    
    .container .box.a { 
      grid-column: 1 / 4;
      grid-row: 1 / 2;
   }
   .container .box.b { 
    grid-column: 1 / 3;
    grid-row: 2 / 3;
   }
   .container .box.c { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
   }
   .menu{
    width: 236px;

  }
  }
  @media only screen and (max-width:590px)
  {
    .container {
      
  
        grid-template:  "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr " 250px
                        "1fr 1fr 1fr " 250px
                        "1fr 1fr 1fr" 250px ;
  
    }    
    .container .box.a { 
      grid-column: 1 / 4;
      grid-row: 1 / 2;
   }
   .container .box.b { 
    grid-column: 1 / 3;
    grid-row: 2 / 3;
   }
   .container .box.c { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
   }
   #contact{
    margin-top: 27px;
    margin-left: 252px;
    width: 150px;
    height: 45px;
    padding: 0 auto;
    font-size: 12px;
  }
  .menu{
    width: 236px;


  }
  }
  @media only screen and (max-width:480px){
  
    .container {
      width: 100%;
      margin-left: 3px;
    }
     
  .menu{
    width: 236px;


  }
  .container{
    width: 100%;
  }
  .li1{

    font-size: 17px;
    
  }
  .li2{

    font-size: 9px;
    
  }
  #contact {
    margin-left: 182px;
  }
}
  @media only screen and (max-width:389px){
    .container {
      margin-left: 0px;
    }
  
     
  .menu{
    width: 236px;


  }
  .container{
    width: 100%;
  }
  .li1{

    font-size: 17px;
    
  }
  .li2{

    font-size: 9px;
    
  }
  #contact {
    margin-left: 182px;
  }
}


  